.git
.github
.gitignore
.gitattributes
.env
.idea
.vscode
**/target/
**/node_modules/
out/
out-tests/
resultados/
docs/
scripts/
paqtracker-web/
paqtracker-infra/
paqtracker-experimentacion/src/
paqtracker-experimentacion/tests/
datos/experimento/
*.md
